<div class="room">
  {{!-- <div class="roomMembers">
  {{#each roomMembers}}
    <div class="flex" >
      <div class="flex justify-center items-center border-2 m-2 border-black rounded-full w-10 h-10">{{this.id}}</div>
      <div class="flex  items-center grow">{{this.name}}</div>
    </div>
  {{/each}}
  </div> --}}
  <div class="roomChat">
    <div class="chatBox">
      {{#each messages }}
        <div class="chatMessage">
          {{>message}}
        </div>
      {{/each}}
    </div>
    <form class="chatForm" name="chatForm" data-user_id="{{userId}}" data-gifter_id="{{gifterId}}" data-crew_id="{{crewId}}">
      <input type="text"  name="text"> 
      <button type="submit" ></button>
    </form>
  </div>
  {{!-- <div class="roomWishes">
    <ul class="flex flex-col">
      {{#each wishes }}
        {{>wish}}
      {{/each}}
    </ul>
  </div> --}}
</div>
